.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    & > .header__title {
        a {
            color: $fontColor;
            text-decoration: none;
            font-size: 2rem;
        }
    }

    & > .header__themeButton {
        display: flex;
        align-items: center;
        border: none;
        color: $fontColor;
        background: transparent;

        & > p {
            margin-right: 20px;
        }
    }
}